# Compiled Object files
*.slo
*.lo
*.o
*.obj
.bin

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
./obj

# iso
*.iso

# bin
*.bin

# elf
*.elf
/disk/bin/*.elf

# CMake files
build/

# Doxygen files
/kernel/doc

# Disk image
/kernel/disk.img
/kernel/disk.vdi
disk.img
disk.vdi