set timeout=5
set default=2

insmod all_video
insmod gfxterm

set gfxmode=1024x768x32
set gfxpayload=1024x768x32

menuentry "KOS - graphic mode (Multiboot2)" {
    insmod all_video
    insmod gfxterm
    set gfxpayload=1024x768x32
    multiboot2 /boot/mykernel.bin gfx debug mouse_poll=always
}

menuentry "KOS - graphic mode (debug)" {
    insmod all_video
    insmod gfxterm
    set gfxpayload=1024x768x32
    multiboot2 /boot/mykernel.bin gfx debug log=debug mouse_poll=always
}

menuentry "KOS - text mode (Multiboot1)" {
    multiboot /boot/mykernel.bin text
}